<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="IncorrectLoginTest">
    <classes>
      <class name="login.IncorrectLoginTest"/>
          </classes>
           </test> 
           
   <test name="CorrectLoginTest"> 
      <classes>  
      <class name="login.CorrectLoginTest"/>
       </classes>
        </test> 
  
<test name="BannerLinking"> 
    <classes>  
      <class name="homepage.BannerLinking"/>
    </classes>
  </test> 
  
     <test name="AddToCartFlow"> 
    <classes>  
      <class name="order.AddToCartFlow"/>
    </classes>
  </test> 
  
     <test name="CartHandling"> 
    <classes>  
      <class name="order.CartHandling"/>
    </classes>
  </test> 
  
     <test name="RazorPayPaymentGateway"> 
    <classes>  
      <class name="order.RazorPayPaymentGateway"/>
    </classes>
  </test> 

  
</suite> <!-- Suite testing cases-->
